<a href="https://colab.research.google.com/github/inwoo0415/Machine-Learning/blob/main/20230313_aiw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터 타입

In [ ]:
a = 3
b = 7.9
c = "Hello"

type(a)
type(b)
type(c)

a = str(a)
type(a) : 데이터 유형 알아보기

str

# 입력과 출력

input() : 문자열로 출력!!!! 

a = 정수 b = 실수 c= 문자열
print() : 1. print(" 출력하려는 데이터  ". format(a,b,c))

In [ ]:
 a = int(input())

In [ ]:
print(a)

In [ ]:
print("{} 와 {}을 출력하라. ".format(a,b,c))

In [ ]:
print("%d %f %s 를 출력하라"%(a,b,c))

In [ ]:
x = round(x,3)

# 인덱싱 = 변수이름[위치] ex) len () : 변수의 길이 or 데이터갯수
슬라이싱 = ex) str1[1 : 3] -> x는 1이상 3미만

In [ ]:
str1 = "Hello~~!! python"

In [ ]:
len(str1)

16

In [ ]:
str1[0:] // 0에서 마지막 갯수까지

SyntaxError: ignored

In [ ]:
str1[-1:-3]

''

In [ ]:
str1[3:6]

'lo~'

In [ ]:
str1[:-1]

'Hello~~!! pytho'

# 새 섹션
list : 집합(원소의 변화가 있음) ex) list1 = [1, 2, 3, 4, 5]

튜플 : 원소의 변화가 없음   ex) list1 = (1, 2, 3, 4 ,5)

딕셔너리 dict1 = {"이름", "나이 ...} 
딕셔너리 : {}기호 사용
함수,듀플 : (기호 사용 
인덱스, 슬라이싱 : []기호 사용 -> 원소와 관련된 내용

In [ ]:
dict1 = {"name":"Ahn In Woo", "age":"26", "school":"Halla university"}

In [ ]:
dict1["name"]

'Ahn In Woo'

In [ ]:
dict1.keys()

dict_keys(['name', 'age', 'school'])

In [ ]:
dict1.items()

dict_items([('name', 'Ahn In Woo'), ('age', '26'), ('school', 'Halla university')])

In [ ]:
dict1.values()

dict_values(['Ahn In Woo', '26', 'Halla university'])

In [ ]:
x = 3
y = 7
z = 11

In [ ]:
z/x

3.6666666666666665

In [ ]:
a1=z/x

In [ ]:
round(a1,4)

3.6667

In [ ]:
z//x

3

In [ ]:
z%x

2

조건문
1. if 조건 :
      명령어

2. if 조건 :
      명령어
   elif 조건 :
      명령어
   else:
      명령어

3. if 조건 :
      명령어
   else:
      명령어

In [ ]:
if a<3:
    print("True")
else:
    print("False")

In [ ]:
x = int(input())

if x%2==0:
    print("짝수입니다")
else:
    print("홀수입니다")

3
홀수입니다

In [ ]:
score = int(input())

if score >=90:
    if score <= 100:
        print("A")
elif score >=80:
    print("B")
elif score >=70:
    print("C")
elif score >=60:
    print("D")
else:        
     print("F")

1004

In [ ]:
print("pw입력")
// 로그인 확인하기
pw : "Abcd!#12"

1. 태어난 해 입력
2. 소수 찾기(prime number)
3  윤년검색(4의 배수이나 100의 배수가 아니면서 400의 배수 -> 윤년

In [1]:
year_input=int(input("태어난 해를 입력: "))
birth_year=year_input%12

if birth_year==0:
    print("원숭이 띠입니다.")

elif birth_year==1:
    print("닭 띠입니다.")

elif birth_year==2:
    print("개 띠입니다.")

elif birth_year==3:
    print("돼지 띠입니다.")

elif birth_year==4:
    print("쥐 띠입니다.")

elif birth_year==5:
    print("소 띠입니다.")

elif birth_year==6:
    print("호랑이 띠입니다.")

elif birth_year==7:
    print("토끼 띠입니다.")

elif birth_year==8:
    print("용 띠입니다.")

elif birth_year==9:
    print("뱀 띠입니다.")

elif birth_year==10:
    print("말 띠입니다.")

else:
    print("양 띠입니다.")

태어난 해를 입력: 1998
범 띠입니다.

In [3]:

year = int(input())

if ((year % 4 == 0) and (year % 100 != 0)) or (year % 400 == 0): 
    print('yes')
else:
    print('no')

1998
no