<a href="https://colab.research.google.com/github/inwoo0415/Machine-Learning/blob/main/%EA%B8%B0%EA%B3%84%ED%95%99%EC%8A%B5_%ED%8C%8C%EC%9D%B4%EC%8D%AC_3%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(10):
        print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
a = [1,2,3,4,5,6,7,8,9]
for  i in a:
     print(i)
if(i%2 != 0):
    print(i)

1
2
3
4
5
6
7
8
9
9

In [ ]:
##집합명.append() : 더하기 , 집합명.remove() : 제외하기

a = []
for i in range(1,4):
    a.append(i)
print(a)

[1, 2, 3]

In [ ]:
b=[]
for i in range(4,7):
    b.append(i)
print(b)

[4, 5, 6]

In [ ]:
c=[]
for i in range(3,6):
    c.append(i)
print(c)

[3, 4, 5]

In [ ]:
##합집합
U1 = a + b
U1

In [ ]:
U2 = a + c
U2

In [ ]:
a = [1,2,3]
b = [4,5,6]
c = [3,4,5]
for i in a:
    if i in c:
        print(i)

3

In [ ]:
I=[]
for i in a:
    if i in c:
        I.append(i)

In [ ]:
a = [1,2,3]
b = [4,5,6]
c = [3,4,5]
for i in a:
    if i not in c:
        c.append(i)
        c

In [ ]:
a = [1,2,3]
b = [4,5,6]
c = [3,4,5]

for i in c:
    if i in a:
        a.remove(i)
        print(a)

[1, 2]

In [ ]:
a = [1,2,3]
b = [4,5,6]
c = [3,4,5]

for i in c:
    if i in b:
        b.remove(i)
        print(b)

[5, 6]
[6]

In [ ]:
a = [1,2,3]
b = [4,5,6]
c = [3,4,5]

for i in b:
    if i in c:
        c.remove(i)
        print(c)

[3, 5]
[3]

In [ ]:
num=1
while num <= 10:
    print(num)
    num+=1

1
2
3
4
5
6
7
8
9
10

In [ ]:
i = 1
k = 1
while i <4:
    while k < 10:
        print("{} * {} = {}".format(i,k,i*k))
        k+=1
    i+=1
    k = 1

    print("\n")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9


2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18


3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [ ]:
##로또 번호 6개 추출
import random

In [ ]:
num_range = range(1,46)
num_list  = list(num_range)
print(num_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]

In [ ]:
import random

random.shuffle(num_list)
print(num_list)

[8, 9, 19, 21, 33, 29, 26, 37, 40, 45, 24, 17, 1, 5, 13, 18, 38, 23, 39, 22, 42, 14, 11, 4, 3, 35, 41, 6, 27, 20, 44, 30, 31, 15, 7, 2, 43, 12, 25, 34, 16, 28, 10, 32, 36]

In [ ]:
##로또 번호 6개 추출
lotto=[]
while len(lotto) < 6:
    random.shuffle(num_list)
#원하는 위치에 원소 추출
    num_selected = num_list[0]
    lotto.append(num_selected)
    print(lotto)

[13]
[13, 7]
[13, 7, 6]
[13, 7, 6, 6]
[13, 7, 6, 6, 19]
[13, 7, 6, 6, 19, 15]

##숫자 샘플링

In [ ]:
A = []
while True:
    e = round(random.random(),2)
    A.append(e)

In [ ]:
import random

num = 0
while num < 10:
    e = random.randint(1,30)
    num+=1
    print(e)

10
2
15
21
29
1
28
2
27
30

# 약수 찾기

In [ ]:
f=[]
a = 12
for i in range(1,a+1):
    if a%i == 0:
        f.append(i)
print(f)

[1, 2, 3, 4, 6, 12]

In [ ]:
n=[]
a = int(input())
for i in range(1,a+1):
    if a%i == 0:
        n.append(i)
print(n)

16
[1, 2, 4, 8, 16]

# 최대공약수

In [ ]:
n_1=[]
a = int(input())
for i in range(1,a+1):
    if a%i == 0:
        n_1.append(i)
print(n_1)

24
[1, 2, 3, 4, 6, 8, 12, 24]

In [ ]:
n_2=[]
b = int(input())
for i in range(1,b+1):
    if b%i == 0:
        n_2.append(i)
print(n_2)

36
[1, 2, 3, 4, 6, 9, 12, 18, 36]

In [ ]:
#두 수의 교집합
n_3=[]
for i in n_1:
    if i in n_2:
        n_3.append(i)
print(n_3)
x=n_3[-1]  #마지막 수 인덱싱으로 빼내기
print("{}와 {}의 최대 공약수 : {}". format(a,b,x))

[1, 2, 3, 4, 6, 12]
36와 36의 최대 공약수 : 12

# 최소공배수

In [ ]:
A = 36
B = 24
n_3 = 12
n_4 = A*B/n_3
print(n_4)

72.0

# 소인수

In [ ]:
f=[]
a=int(input())
for i in range(2,a):
    while(a%i==0):
        f.append(i)
        a = a/i
print(f)

15
[3, 5]

# prime number

In [ ]:
a= int(input())
prim = True
for i in range(2,a):
    if (a%i == 0):
        prim = False
    
if prim == True:
    print("소수\n")
else :
    print("합성수\n")

16
합성수

In [5]:
i=1
t=1
prim=True
f=[]
while t < 100:
    prim = True
    for i in range(2,t):
        if(t % i ==0):
            prim = False
    if(prim == True):
        f.append(t)
    t+=1
f.remove(1)
print(f)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]